extends ../../layouts/auth.pug
include ../../layouts/mixins/box-head.pug
include ../../layouts/mixins/product-layout.pug
include ../../layouts/mixins/alert.pug
block append head
    link(rel="stylesheet" href="/css/forget_password.css")

block main
  +alert-error(5000)
  .container.my-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        .forgot-card
          .row.align-items-center
            .col-4.d-none.d-md-block
              //- SVG minh họa nhỏ
              img(src="/img/email-or-envelope-icon-a-straightforward-and-recognizable-illustration-of-an-email-or-envelope-representing-correspondence-messages-and-communication-vector.jpg" alt="forgot" class="img-fluid")
            .col-8
              h1.text-center.mb-3 Nhập mã OTP
              p.text-muted.text-center.small Nhập OTP đã nhận qua email , chúng tôi sẽ xác nhận
              form(action="/user/password/otp" method="POST" id="forgotForm")
                .form-group
                  label(for="email") Email *
                  .input-group
                    input#email.form-control(type="email" name="email" placeholder=email value=email readonly  aria-describedby="emailHelp")
                    .input-group-append
                      span.input-group-text
                        i.fas.fa-envelope
                  small#emailHelp.form-text.text-muted Email bạn đã đăng ký
                .form-group
                  label(for="otp") OTP *
                  .input-group
                    input#email.form-control(type="number" name="otp"   aria-describedby="emailHelp")
                    .input-group-append
                      span.input-group-text
                        i.fas.fa-envelope
                  small#emailHelp.form-text.text-muted Nhập mã OTP
                .form-group.mt-4
                  button#submitBtn.btn.btn-primary.btn-block(type="submit")
                    span.btn-text Gửi yêu cầu
                    span.spinner-border.spinner-border-sm.ml-2(role="status" aria-hidden="true" style="display:none")
              //- nơi hiển thị thông báo thành công
              .mt-3.text-center
                p#resultMsg.text-success(style="display:none")
